<div class="bg-lines">
	<div class="bg-lines__wrap">
		<div class="bg-lines__line"></div>
		<div class="bg-lines__line">
			img(src=require('~/images/figure2.svg') loading="lazy" alt="" class="decor" style="width: 67px; top: 50%")
		</div>
		<div class="bg-lines__line"></div>
		<div class="bg-lines__line"></div>
		<div class="bg-lines__line"></div>
		<div class="bg-lines__line"></div>
		<div class="bg-lines__line"></div>
		<div class="bg-lines__line"></div>
		<div class="bg-lines__line">
			img(src=require('~/images/figure1.svg') loading="lazy" alt="" class="decor" style="width: 29px; top: 10%")
		</div>
		<div class="bg-lines__line"></div>
		<div class="bg-lines__line"></div>
	</div>
</div>
