<footer class="footer">
	<div class="container">

		<div class="footer__top  do-anim appear-slideInUp" style="--appearDelay: 0ms;">

			<div class="footer__col-brand">
				<a href="https://frogs.fi" class="logo footer__logo">
					img(src=require('~/images/logo.svg') alt="Frogs")
				</a>
				<p>Gain your dep with no loss risks</p>
			</div>

			<div class="footer__col">
				<div class="footer-menu-heading">SUPPORT</div>
				<ul class="footer-menu">
					<li>
						<a href="/">About</a>
					</li>
					<li>
						<a href="#">Request a pool</a>
					</li>
					<li>
						<a href="https://discord.gg/sVY7RZ6eeJ" target="_blank">Join Discord</a>
					</li>
				</ul>
			</div>

			<div class="footer__col">
				<div class="footer-menu-heading">PRODUCT</div>
				<ul class="footer-menu">
					<li>
						<a href="#draw">Make a Draw</a>
					</li>
					<li>
						<a href="#how">How2Play</a>
					</li>
					<li>
						<a href="#faq">FAQ</a>
					</li>
				</ul>
			</div>

			<div class="footer__col">
				<div class="footer-menu-heading">TECH</div>
				<ul class="footer-menu">
					<li>
						<a href="">Github</a>
					</li>
					<li>
						<a href="">Audits</a>
					</li>
					<li>
						<a href="https://good-crayon-448.notion.site/docs-x-FROGS-72957ea111024e6b89d8bcb8cdee33e4" target="_blank">Docs</a>
					</li>
				</ul>
			</div>

		</div>

		<div class="footer-line"></div>

		<div class="footer__bottom do-anim appear-slideInUp" style="--appearDelay: 200ms;">
			<div class="text-sm text-center">&copy; 2023 FrogsFi > with 💚 from the swamp</div>

			<div class="footer__social">
				<a href="https://t.me/frogsfi" target="_blank" class="circle">
					img(src=require("~/images/icons/telegram.svg") class="icon rect-125")
				</a>
				<a href="https://twitter.com/FrogsFi" target="_blank" class="circle">
					img(src=require("~/images/icons/twitter.svg") class="icon rect-150")
				</a>
			</div>
		</div>

	</div>
</footer>
