<div class="banner">
	img(src=require("~/images/horleft.svg") loading="lazy" alt="" class="banner-left")
	<div class="banner-text">Become an Early Adopter &amp; get access to unique features</div>
	img(src=require("~/images/horright.svg") loading="lazy" alt="" class="banner-right")
</div>

<header class="header">
	<div class="header__container">

		<a href="/" class="logo" aria-label="logo">
			img(src=require('~/images/logo.svg') alt="Frogs")
		</a>

		<nav class="nav-main header__nav">
			<ul>
				<li class="nav-main__item">
					<a href="#">Make a Draw</a></a>
				</li>
			</ul>
		</nav>

		<button class="header__button">Connect Wallet</button>

	</div>
</header>
